---
layout: mediapage
title: Listen
little-headerimage: /assets/images/piano.jpg
permalink: /music
---
<div class="inner wrapper">
  <h2>Alessandro's Music</h2>
  <p>Here are some excerpts available only on this website:</p>
      
      <hr/>
      <div id="audiogallery">

      {% for record in site.data.listen %}

          <div class="albumtitle">
          <h2>"{{ record.albumtitle }}"</h2>
          <h3>{{ record.artist }}</h3>
            <div class="album">

                <div class="personnel">
                  <p>
                    {% for musician in record.personnel %}
                      {{ musician.name }} on {{ musician.axe }} <br>
                    {% endfor %}
                  </p>
                <img src="/assets/images/{{ record.albumimg }}" width="200" alt="Peace EP">
                </div>

                <div class="songs">
                  {% for song in record.songs %}
                    {% if song.play %}
                      <p>"{{ song.title }}"</p>
                      <div class="mp3player">
                        <audio controls>
                          <source src="assets/music/{{ song.src }}">
                        </audio>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
          </div>
        <hr />
      {% endfor %}

  <h3>Soundcloud</h3>
  <p>You can listen to other excerpts on Soundcloud: </p><p><div class="likebutton"><a href="https://soundcloud.com/alessandro-fadini" class="icon fa-soundcloud"><span class="label">Take me to Soundcloud</span><p>Take me to Soundcloud</p></a></div></p>

  <hr/>

      



</div>