<div class="little-header" style="background-image: url('{{ page.little-headerimage }}'); ">
    <div class="title-holder" >
        <div class="title" >
            <h1>Aleks Fadini</h1>
            <h4>{{ page.title }}</h4>

            <div id="quotes">
              <ul>

                  <li>"A wealth of full-blown music coming from every side, from Fadini’s fascination with contrast, tension, and exit markers..."<br><span>AXS - Carol Banks Weber</span></li>
                  <li>"It reflects this young, up-and-comer’s fresh appreciation for jazz improvisation and natural affinity for songwriting."<br><span>AXS - Carol Banks Weber</span></li>
                  <li>"Listeners will find the music endlessly fascinating in spite of the liberties the musicians take with harmony and hidden melodies."<br><span>AXS - Carol Banks Weber</span></li>

                  <li>" …tightly wound backstreet riff that unfolds like the storms that blow in off the Atlantic. Snoopy would have it no other way."<br><span>ELMORE MAGAZINE - Mike Jurkovic</span></li>
                  <li>"Pianist Alessandro Fadini brings together a subtly swinging session that is filled with lovely pastels."<br><span>JAZZ WEEKLY - George Harris</span></li>
                  <li>"Thoughtful, filled with the pastels and grey shadows of song."<br><span>JAZZ WEEKLY - George Harris</span></li>

                  <li>"seemingly never missing a single note in his aggressive runs and solos"<br><span>ALIBI - Kent Miller</span></li>
                  <li>"über-proficient piano playing"<br><span>ALIBI - Kent Miller</span></li>


                  <li>"une conception gemoetrique du clavier, faite de perpendiculaires, de parallélismes et de jeux en miroir, pour des restutats plaisants autant que fort logiques"<br><span>JAZZ MAGAZINE - Ludovic Florin (France)</span></li>
                  <li>"une recherche menée dans l’esprit de modernes tels que Steve Lehman et Vijay Iyer […] immediatement accessible, y compris pour ce qui concerne l’aspect rythmique, la clarté…"<br><span>JAZZ MAGAZINE - Ludovic Florin (France)</span></li>
              
            </ul>
          </div>
          <script src="/assets/js/quotes.js"></script>

        </div>
    </div>
    <div class="subtitle">
        
    </div>
</div>