<div class="my-menu hidden">
    <div class="title-on-menu">
        <h1><a href="{{ site.baseurl }}">Aleks Fadini</a></h1>
    </div>
    <div class="button">
      <a href="#menu" class="menuToggle"><span id="menu-text">Menu</span></a>
    </div>
</div>


<div id="side-menu">
  <ul>
    <li><a href="index.html">News</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="shows.html">Shows</a></li>
    <li><a href="music.html">Music</a></li>
    <li><a href="videos.html">Videos</a></li>
    <li><a href="photos.html">Photos</a></li>
    <li><a href="projects.html">Projects</a></li>
 <!--   <li><a href="electronic.html">Electronic</a></li> work in progress for now -->
  </ul>
</div>