/*
*Not sure what I'm doing in the next line - so I did comment it out
*
*  @import url('/_sass/_font-awesome.min.scss');
*/

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.big-header {
    width: 100%;
    height: 100vh;
    position: relative;

    background: linear-gradient(rgba(0, 0, 0, 0), #000), url('/assets/images/banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    .title-holder {
        z-index: 10000;
        width: 25em;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(-50%);
        text-transform: uppercase;
        color: #FFF;
        text-align: center;
        letter-spacing: 0.75em;

        #title {
            padding: 10px 0;
            
            h1 {
                font-weight: bold;
            }

            &::before,
            &::after {
                box-sizing: border-box;
                content: '';
                position: absolute;
                width: 0;
                height: 0;
            }

            &::before {
                border-top: 5px solid transparent;
                top: 0;
                left: 0;
            }

            &::after {
                border-bottom: 5px solid transparent;
                bottom: 0;
                right: 0;
            }

            &.border-drawn::before,
            &.border-drawn::after {
                width: 100%;
                height: 100%;
                border-top-color: #FFF;
                border-bottom-color: #FFF;
                transition: width 0.75s ease-out; // Width expands first
            }
            
            h1 {
                margin-bottom: 0;
            }
        }
    }
}

/* trying to make a splash screen */




    body.is-loading #banner:after {
        opacity: 1;
    }

    #banner:after {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        -moz-transition: opacity 3s ease-in-out;
        -webkit-transition: opacity 3s ease-in-out;
        -ms-transition: opacity 3s ease-in-out;
        transition: opacity 3s ease-in-out;
        -moz-transition-delay: 1.25s;
        -webkit-transition-delay: 1.25s;
        -ms-transition-delay: 1.25s;
        transition-delay: 1.25s; 
        content: '';
        background: #bbb; /*It's the very first screen color, was #2e3842 */
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    } 

        body.is-loading *, body.is-loading *:before, body.is-loading *:after {
        -moz-animation: none !important;
        -webkit-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }  



 








.little-header {
    width: 100%;
    height: 50vh;
    position: relative;

    background: linear-gradient(rgba(0, 0, 0, 0), #000);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;

    .title-holder {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-transform: uppercase;
        color: #FFF;
        text-align: center;
        letter-spacing: 0.75em;

        .title {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            
            h1 {
                margin-bottom: 0;
            }
        }
    }
}

.my-menu {
    a {
        text-decoration: none;
        color: #FFF;
        opacity: 1;
    }

    transition: background .45s ease;

    &.hidden {
        background: rgba(0, 0, 0, 0);

        .title-on-menu {
        color: rgba(0, 0, 0, 0);

        a {
        opacity: 0;
        }

        }
    }

    background: rgba(200, 200, 200, 0.75);
    z-index: 15;
    position: fixed;
    height: 40px;
    width: 100vw;
    text-transform: uppercase;

    .title-on-menu {
        left: 1.25em;
        position: absolute;
        letter-spacing: 0.2em;

        h1 a {
            display: block;
            line-height: 40px;
            font-size: 0.55em;
        }
    }
    
    .button {
        float: right;

        a {
            &:after {
                background-image: url("/assets/icons/bars.svg");
                background-position: center;
                background-repeat: no-repeat;
                content: '';
                display: inline-block;
                height: 40px;
                vertical-align: top;
                width: 2em;
                margin-right: 10px;
            }

            #menu-text {
                color: #FFF;
                line-height: 40px;
                margin-right: 5px;
                display: none;

                @include media-query($desktop) {
                    display: inline;
                }
            }
        }

    }   
} 

#side-menu {
    box-sizing: border-box;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;

    $side-menu-width: 160px;

    padding: 48px 32px;

    width: $side-menu-width; 
    background: rgba(200, 200, 200, 0.9);
    padding-top: 40px;
    z-index: 10;
    height: 100vh;
    position: fixed;
    right: -($side-menu-width);
    top: 0;
    
    &.visible {
        right: 0px;
    }

    ul {
        margin: 0;
        text-transform: uppercase;
        list-style-type: none;

        li {
            margin-top: $spacing-unit / 4;
            padding-top: $spacing-unit / 4;

            &:not(:first-child) {
                border-top: 1px solid #909090;
            }

            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}



.row {
    width: 100%;

    .image {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .excerpt {
        box-sizing: border-box;
        width: 100%;
        color: white;
        background: rgba(200, 200, 200, 1);
        text-align: center;
        padding: $spacing-unit ($spacing-unit / 2);

        h2 {
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: bold;
        }

        a {
            color: white;
            text-decoration: underline;
        }
    }



    @include media-query($desktop) {
        height: 300px;

        .image {
            display: block;
            float: left;
            width: 40%;
            height: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .excerpt {
            display: block;
            float: left;
            width: 60%;
            height: 100%;
        }

        &.second .image {
            float: right;
        }
    }
}
 


.site-footer {
    position: relative;
    background: #1d242a;
    color: white;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    height: 100px;

    a {
        color: white;
    }

    .text-holder {
        width: 100%;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
    }
}



/*
* Icons list
*/
        ul.icons {
            cursor: default;
            list-style: none;
            padding-left: 0;
        }

            ul.icons li {
                display: inline-block;
                padding: 0 1em 0 0;
            }

                ul.icons li:last-child {
                    padding-right: 0 !important;
                }

            ul.icons.major {
                padding: 1em 0;
            }

                ul.icons.major li {
                    padding-right: 3.5em;
                }



/*  <-- Footer --> */


 .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.5em;
    letter-spacing: 0.225em;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}


/*
*  Other elements of style
*/




hr {
    border: 0;
    border-bottom: solid 2px #dfdfdf;
    margin: 3em 0;
}


.wrapper5 h2, .wrapper5 h3, .wrapper5 h4, .wrapper5 h5, .wrapper5 h6 {
    color: $wrapper-heading-color;
}
.wrapper5 {
    background-color: #ffffff;
    color: $wrapper-text-color;
}